# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [7]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [69]:
path = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(path, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00?

In [70]:
chipo.item_price.dtype

dtype('O')

In [71]:
# item_price != unit_price
def clean_price_col(chipo, col):
    # remove $ symbol and convert to float
    chipo[col] = chipo[col].apply(lambda x: x[1:].rstrip())
    chipo[col] = chipo[col].astype("float") 
    return chipo

def remove_duplicate(chipo, cols):
    return chipo.drop_duplicates(subset=cols)

chipo = clean_price_col(chipo, "item_price")
new_chipo = remove_duplicate(chipo, ["item_name", "quantity"])

In [73]:
len( new_chipo[ (new_chipo.item_price > 10) & (new_chipo.quantity==1)] )

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [76]:
new_chipo_2 = chipo.drop_duplicates(subset=["item_name", "item_price"])
new_chipo_2 = new_chipo_2[new_chipo_2.quantity==1]

new_chipo_2.loc[:, ["item_name", "item_price"]].sort_values(by="item_price", ascending=False)

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
93         Carnitas Burrito       11.75
1008  Carnitas Crispy Tacos       11.75
...                     ...         ...
6             Side of Chips        1.69
329           Bottled Water        1.50
263       Canned Soft Drink        1.25
28              Canned Soda        1.09
34            Bottled Water        1.09

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

In [49]:
chipo.sort_values("item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [53]:
chipo["item_price"].describe()

count    4622.000000
mean        7.464336
std         4.245557
min         1.090000
25%         3.390000
50%         8.750000
75%         9.250000
max        44.250000
Name: item_price, dtype: float64

In [57]:
max_price = chipo.item_price.max()

max_price_item = chipo[chipo.item_price == max_price]
max_price_item

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [58]:
len(chipo[chipo.item_name == "Veggie Salad Bowl"])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [78]:
len(  chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity>1)] )

20